In [ ]:
#讀資料
import pandas as pd
df = pd.read_csv(r"./data/107_edu.csv")

In [11]:
#看column名稱
df.columns

Index(['統計年', '區域別代碼', '區域別', '村里', '教育程度', '性別', '戶長數'], dtype='object')

In [12]:
#拿掉不要的column '區域別代碼'
df = df.drop(columns = ['區域別代碼'])

In [13]:
df.head()

   統計年     區域別   村里 教育程度 性別  戶長數
0  107  新北市板橋區  留侯里   博畢  男    3
1  107  新北市板橋區  留侯里   碩畢  男   26
2  107  新北市板橋區  留侯里   大畢  男   71
3  107  新北市板橋區  留侯里   專畢  男   52
4  107  新北市板橋區  留侯里  高中畢  男  122

In [21]:
#分組操作，相同區域別、村里、教育程度的'戶長數'加總
df_1 = df.groupby(['統計年','區域別', '村里', '教育程度']).sum().reset_index() # reset_index()是為了讓index重新編號，這樣可以保留分組後的結果作為新的DataFrame，而不是以分組鍵(如:區域別、村里等)作為索引

In [22]:
#拿掉column'性別'
df_1 = df_1.drop(columns=['性別'])

In [23]:
#將column區域別的前3個字串和第3個字串以後的字串分割成兩個不同的column，前者叫"city"後者叫"district"，並把column"區域別"的前3個字串拿掉
df_1['city'] = df_1['區域別'].str[:3]
df_1['district'] = df_1['區域別'].str[3:]
df_1 = df_1.drop(columns=['區域別'])

In [24]:
#將column名稱的順序由左至右以統計年、city、district、村里、教育程度排序
df_1 = df_1[['統計年', 'city', 'district', '村里', '教育程度', '戶長數']]

In [28]:
#將df_1以統計年、city、district、教育程度分組，並將戶長數加總
df_2 = df_1.groupby(['統計年', 'city', 'district', '教育程度']).sum().reset_index()

In [30]:
#將df_2的column""村里"拿掉
df_2 = df_2.drop(columns=['村里'])

In [31]:
#將column"教育程度"的博士、碩士、大學、高中、國中、國小變成column，並將column"戶長數"的值填入對應的column中
df_2 = df_2.pivot_table(index=['統計年', 'city', 'district'], columns='教育程度', values='戶長數').reset_index()

In [34]:
#將column以統計年、city、district、博士、碩士、大學、高中、國中、國小排序
df_2 = df_2[['統計年', 'city', 'district', '博畢', '碩畢', '大畢', '高中畢', '國中畢', '國小畢以下']]